.LogIn, .SignIn{
    width: 350px;
    input{
        width: 320px;
    }
    button{
        width: 340px;
    }

    h1 img{
        margin-right: 20px;
    }
}
a{
    color: #55CFF9;
    text-decoration: none;
}