.aside-nav{
    background: #264E66;
    width: 70px;
    text-align: center;
    padding: 10px;

    &__logo{
        margin-top: 14px;
        margin-bottom: 27px;
        img{
            margin: 5px;
        }
    }
    &__link{
        margin-top: 14px;
        margin-bottom: 27px;
        color:white;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        img{
            margin: 5px;
        }
    }
}

