$textColor:hsl(210, 7%, 29%);
.header{
    background: white;
    height: 60px;
    border-bottom: 1px solid rgb(230, 230, 230);
    display:flex;
    align-content: center;
    align-items: center;
    &__button{
        margin: 10px;
        background: transparent;
        border: transparent;
        padding: 10px;
        display:flex;
        font-size: 400;
        color: $textColor;
        cursor: pointer;
        img{
            margin-right: 15px;
        } 
    }
}